<ul id="city_search_navigation">
    <li><a href="{{ url('city_search.main') }}">Search</a></li>
    <li><a href="{{ url('city_search.taxonomy') }}">Taxonomy</a></li>
    <li><a href="{{ url('city_search.create') }}">Create</a></li>
</ul>